{% extends 'base.html' %}
{% block content %}
        <form id="add_blog" enctype="multipart/form-data" method="post">
            <input type="hidden" name="pk" value="{{ article_obj.pk }}">
                        <div>
                            {% csrf_token %}
                            <label for="title">标题</label>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" id="title" name="title" value="{{ article_obj.title }}" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div>
              <textarea id="editor_id" name="content" style="width:700px;height:300px;">
                  {{ article_obj.content }}

        </textarea>

                        </div>
                        <div class="form-group">
                            <label for="category">分类</label>
                            <select class="form-control" id="category" name="category">
                                  {% for foo in category %}
                            {% if article_obj.category_id == foo.pk %}
                    <option selected value="{{ foo.pk }}">{{ foo.name }}</option>
                        {% else %}
                        <option value="{{ foo.pk }}">{{ foo.name }}</option>
                    {% endif %}

                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="tag">标签</label>
                            <select multiple class="form-control" id="tag" name="tag">
                                {% for foo in tag %}
                                    {% if foo in article_obj.tag.all%}
                                    <option value="{{ foo.pk }}" selected>{{ foo.name }}</option>
                                    {% endif %}
                                    <option value="{{ foo.pk }}">{{ foo.name }}</option>
                                {% endfor %}


                            </select>
                        </div>


                        <div>
                            <button type="submit" class="btn btn-danger" id="btn-add-blog">新建文章</button>
                        </div>
                    </form>
{% endblock content %}
{% block js %}
     <script src="/static/kindeditor/kindeditor-all.js"></script>


    <script charset="utf-8" src="/static/kindeditor/lang/zh-CN.js"></script>
    <script>
        KindEditor.ready(function (K) {
            window.editor = K.create('#editor_id', {
                width: '100%',
                'height': '500px',
                uploadJson: '/blog/upload_img/',
                filePostName: 'myfile',
                extraFileUploadParams: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',

                }

            })
        });

    </script>

{% endblock js %}