<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap4/css/bootstrap.min.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/bootstrap4/js/bootstrap.bundle.min.js"></script>
    <script src="/static/bootstrap4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
            <div class="card-header">
                <h1>登录</h1>
            </div>

                <div class="card-body">

                    <form novalidate>
                    {% csrf_token %}
                        {% for foo in login_form %}
                            <div class="form-group">
                                <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                                {{ foo }}
                            <span ></span>
                            </div>
                        {% endfor %}
                    <div><span id="msg"></span></div>


                        <div class="form-group form-check">
                            <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" name='check_code'>
                            </div>
                            <div><img src="/blog/check_code/" width="150" height="60" id="check_code" alt=""></div>
                                </div>
                        </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" id="register">登录</button>
                    </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $('#check_code').click(function () {
        this.src=this.src + '?'
    })



    // 提交数据
    $('#register').click(function () {
        var formData = new FormData();
        var data= $('form').serializeArray()
        $.each(data,function (k,v) {
            //console.log(k,v)
            formData.append(v.name,v.value)
        })
        $.ajax({
            url:'',
            type:'post',
            processData:false,
            contentType:false,
            data:formData,
            success:function (data) {
                console.log(data)
                if(data.code===200){
                    location.href=data.href
                }
                if(data.code===100){
                    if (typeof data.msg === 'string'){
                        {#console.log(data.__all__,11111)#}
                        $('#msg').html( data.msg).addClass('text-danger')
                    }else{
                    $.each(data.msg,function (k,v) {
                        console.log(k,v,11111111)
                        $('#id_'+k).addClass('is-invalid').next('span').html(v).addClass('text-danger')
                    }
                    )}


                setTimeout(function () {
                    $('.is-invalid').removeClass('is-invalid').next('span').html('').removeClass('text-danger')
                },1000)
                setTimeout(function () {
                    $('#msg').removeClass('text-danger').html('')
                },1000)




                }
            }

        })

    })

</script>

</body>
</html>