{% extends 'base.html' %}
{% block content %}

     <ul class="list-unstyled">
                {% for foo in user_article %}
                    <li class="media">
                        <img src="/blog/media/{{ foo.blog.user.head }}" width="80px" height="80px" class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="/blog/{{  foo.blog.user.username }}/{{ foo.pk }}">{{ foo.title }}</a></h5>
                            {{ foo.description }}
                            <div>
                                <span><a href="/blog/{{ foo.blog.user.username }}">{{ foo.blog.user.username }}</a></span>
                                <span>{{ foo.create_time|date:'Y-m-d H:i:s' }}</span>
                                <span>点赞{{ foo.up_num }}</span>
                                <span>评论{{ foo.commit_num }}</span>
                            </div>
                        </div>
                    </li>
                    <hr>

                {% endfor %}

            </ul>
{% endblock content %}


{% block left-content %}
{#{% load mytag %}#}
{#    {% left username %}#}
{% endblock left-content %}


